/*
.home-section-top .main-column p:first-child a,
.home-section-top .main-column p:first-child a:visited {
 * IMPORTANT this website is very quickly put together, and NOT built for
 * scaling/dynamic resizing.
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * Typography
 */

body {
    font-family: "Arial", sans-serif;
    font-size: 75%; /* 12px */
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
  font-weight: normal;
}

a, a:hover, a:visited {
    color: #333;
    text-decoration: none;
    border-bottom: solid 1px #333;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}

a.title, a.title:hover, a.title:visited, 
.title a, .title a:hover, .title a:visited {
    border: none;
}


/*
 * Everything else
 */

/* apply a natural box layout model to all elements */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    background-image: url(background.png);
    background-repeat: repeat-both;
    color: #333;
}

.container {
    position: relative;
    margin: auto;
    width: 1000px;
    margin-bottom: 100px;
}

#menu {
    width: 100%;
    height: 30px; 
    padding-left: 35px;
}

#menu li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 40px;
}

#menu .active {
    color: #ababab;
}

#menu a, #menu a:hover, #menu a:visited {
    color: white;
}

#menu a:hover {
    border-bottom: 1px solid white;
}


/*
 * Home page specific stuff
 */

.home.container {
    width: 1000px;
    background-image: url(home-background.png);
    background-repeat: no-repeat;
}

.home-section-top {
    position: relative;
    width: 100%;
    height: 880px;
}

.home-section-top .main-column {
    position: absolute;
    bottom: 0;
    height: 430px;
    width: 580px;
    color: #646363;
}

.home-section-top .main-column p:first-child {
    display: block;
    font-size: 20px;
    width: 390px;
    height: 110px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 10px;
    line-height: 28px;
}

.home-section-top .main-column p:first-child a,
.home-section-top .main-column p:first-child a:hover,
.home-section-top .main-column p:first-child a:visited {
    font-weight: bold;
    color: #646363;
}

.home-section-top .main-column p:first-child a:hover {
    color: #333;
}

.home-section-top .main-column p:first-child a,
.home-section-top .main-column p:first-child a:visited {
    border: none;
}

.home-section-top .main-column .order {
    display: block;
    width: 100%,
    height: 100px;
    margin-top: 10px;
}

.home-section-top .main-column .order > * {
    vertical-align: top;
}

.home-section-top .main-column .order .moolah {
    display: inline-block;
    width: 100px; 
    height: 100px;
    font-size: 67px;
    margin-left: 30px;
}
.home-section-top .main-column .order .moolah .smalla {
    font-size: 48px;
}

.home-section-top .main-column .order .linkage {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 100px;
    padding-left: 8px;
}

.home-section-top .main-column .order .linkage > * {
    display: block;
    width: 100%;
}

.home-section-top .main-column .order .linkage .order-online {
    margin-top: 17px;
    height: 30px;
    width: 119px;
    line-height: 30px;
    text-align: center;
}

.home-section-top .main-column .order .linkage .order-online a,
.home-section-top .main-column .order .linkage .order-online a:hover,
.home-section-top .main-column .order .linkage .order-online a:visited {
    color: white;
}

.home-section-top .main-column .order .linkage .order-online a:hover {
    border-bottom: 1px solid white;
}

.home-section-top .main-column .order .linkage .order-pta {
    padding-top: 3px;
    font-weight: bold;
}

.home-section-top .main-column .order .linkage .order-pta a,
.home-section-top .main-column .order .linkage .order-pta a:hover,
.home-section-top .main-column .order .linkage .order-pta a:visited {
    color: #646363;
    border-bottom: 1px solid #999;
}

.home-section-top .main-column .order .linkage .order-pta a:hover {
    color: #333;
}


.home-section-top .main-column .blurbs {
    width: 100%;
    height: 110px;
    margin-left: 30px;
    margin-top: 50px;
}


.home-section-top .main-column .blurbs .blurb {
    display: inline-block;
    height: 110px;
    width: 155px;
    margin-right: 25px;
    line-height: 16px;
}


.home-section-grey {
    position: relative;
    width: 100%;
    height: 223px;
}

.home-section-grey .light-grey-stuff,
.home-section-grey .dark-grey-stuff {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.home-section-grey .light-grey-stuff {
    position: relative;
    width: 730px;
    margin-left: 10px;
}

.home-section-grey .light-grey-stuff h4 {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #5a5a5a;
    margin-top: 14px;
    margin-left: 23px;
}

.home-section-grey .light-grey-stuff .info {
    display: inline-block;
    height: 60px;
    margin-top: 130px;
    vertical-align: top;
    color: black;
}

.home-section-grey .light-grey-stuff .info > * {
    vertical-align: top;
}

.home-section-grey .light-grey-stuff .info.pinky-white {
    width: 125px;
    margin-left: 23px;
}

.home-section-grey .light-grey-stuff .info.grey-light {
    width: 147px;
    margin-left: 60px;
}

.home-section-grey .light-grey-stuff .info.dollas {
    width: 140px;
    margin-left: 37px;
}

.home-section-grey .light-grey-stuff .info.pinky-xray {
    width: 155px;
    margin-left: 20px;
}

.home-section-grey .dark-grey-stuff {
    width: 240px;
    margin-left: 10px;
    color: white;
    padding-top: 18px;
    padding-left: 22px;
    padding-right: 22px;
}

.home-section-grey .dark-grey-stuff .title {
    margin-bottom: 14px;
}

.home-section-grey .dark-grey-stuff p {
    line-height: 16px;
}

.home-section-grey .dark-grey-stuff a,
.home-section-grey .dark-grey-stuff a:hover,
.home-section-grey .dark-grey-stuff a:visited {
    color: white;
    border-bottom: 1px white solid;
}

.home-section-grey .dark-grey-stuff a:hover {
    color: #ccc;
    border-bottom: 1px solid #ccc;
}

.home-section-friends {
    width: 100%;
    height: 865px;
    position: relative;
    padding-left: 10px;
}

.home-section-friends .spread-the-word,
.home-section-friends .got-a-question,
.home-section-friends .keep-in-touch {
    position: absolute;
    line-height: 17px;
    text-align: center;
}

.home-section-friends .spread-the-word {
    left: 75px;
    top: 227px;
    width: 175px;
}

.home-section-friends .got-a-question {
    top: 205px;
    left: 361px;
    width: 215px;
}

.home-section-friends .keep-in-touch {
    top: 242px;
    left: 701px;
    width: 184px;
}

.home .copyright {
  margin-left: 9px;
  margin-top: 0px;
  padding-top: 20px;
  width: 980px;
  background-color: white; 
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.2);
}


/*
 * FAQ specific
 */

.container.faq {
  width: 980px;
  background-color: white; 
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.2);
}

.faq #menu {
  background-color: #4f4f4f;
  padding-left: 25px;
}

.faq h1.title{
  display: block;
  width: 100%;
  height: 425px;
  background-image: url(faqtitle.jpg);
  background-position: 350px 16px;
  background-repeat: no-repeat;
}

.faq .questions {
  background-color: #eae6e6;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 20px;
  color: #343434;
  margin-left: 60px;
  width: 860px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.faq .questions .question {
  padding-left: 80px;
  padding-right: 80px;
}

.faq h2 {
  font-size: 26px;
  font-family: "Tahoma", sans-serif;
  color: rgba(0,0,0,0.5);
  height: 40px;
  margin-bottom: 10px;
}

.faq hr {
  border: 0;
  display: block;
  height: 5px;
  width: 820px;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
}

.faq .questions .question ol  {
  list-style-type: decimal;
}


.faq h4 {
  font-weight: bold;
}

.faq .questions .question h4,
.faq .questions .question p {
  margin-bottom: 1em;
}

.faq .order-container {
  display: block;
  width: 100%;
  text-align: center;
}

.faq ul.dates {
  margin-bottom: 20px;
}

.faq ul.dates li {
  display: inline-block;
  width: 220px; 
  margin-bottom: 10px;
  margin-right: 5px;
}

.faq ul.dates li span {
  display: block;
}

.faq ul.dates li span.date {
  font-weight: bold;
}

.faq a:hover {
  color: #000;
}

.copyright {
  font-size: 10px;
  color: #504f4f;
  margin-top: 20px;
  padding-left: 60px;
  line-height: 14px;
  padding-bottom: 10px;
}
